html {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: Anton;
    src: url(Anton-Regular.ttf);
}

body {
    background: #0E222F;
    font-family: Anton;
}


/* Button */

button {
    font-family: Anton;
    font-size: 20pt;
    border: none;
    background: #FEF9F5;
    color: #3F3F42;
    transition: linear 0.1s color;
    transition: linear 0.1s background;
}

button:hover {
    color: #252D35;
    background: #000021;
    transition: linear 0.1s color;
    transition: linear 0.1s background;
}

button:active {
    background: #FEF9F5;
    color: #3F3F42;
    transition: none;
}


/* Mod List */

#mod-list {
    position: absolute;
    left: 50%;
    top: 75px;
    width: calc(50% - 10px);
    height: calc(100% - 75px - 10px);
    overflow-y: scroll;
}


/* Mod Listing */

div.mod {
    background: #000022;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 30px);
}

div.mod-info {
    display: inline-block;
}

div.mod-info p {
    max-width: calc(50vw - 200px);
}

span.mod-title {
    font-size: 25pt;
}

span.mod-author {
    margin-left: 10px;
}

span.mod-author a {
    color: white;
    text-decoration: none;
}

img.mod-image {
    width: 128px;
    height: 128px;
    display: inline-block;
    vertical-align: top;
}

img.author-icon {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    vertical-align: middle;
    border-radius: 50%;
}